server:
  port: 8080

spring:
  application:
    name: autoflex-api

  datasource:
    url: jdbc:postgresql://localhost:5432/autoflex_db
    username: user
    password: password

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true

logging:
  level:
    org.hibernate.SQL: debug

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /api-docs
